{% extends 'base.html.twig' %}

{% block title %}Le coin opposé !{% endblock %}

{% block body %}
    <div class="row" data-controller="favorite">
    {% for article in articles %}
        <div class="col-lg-4">
            <h2>{{ article.name }}<span class="badge bg-secondary">{{ article.price }} €</span></h2>
            <img class="img-fluid" src="{{ asset('uploads/article/'~article.pictures[0].file) }}">
            <button class="btn {% if article.id in favorites %}btn-success{% else %}btn-light{% endif %}" data-url="{{ path('add_favorite',{id:article.id}) }}" data-action="favorite#add"><i class="icon-heart"></i></button>
        </div>
    {% endfor %}
    </div>

    
   
</div>
{% endblock %}
